<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<Properties>
		<Property name="LOG_HOME">logs
		</Property>
		<Property name="LOG_NAME">bw-service-insurance</Property>
	</Properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p %C (%F:%L) - %m%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="${LOG_HOME}/${LOG_NAME}.log" filePattern="${LOG_HOME}/${LOG_NAME}-%d{MM-dd-yyyy}.log.gz">
			<PatternLayout pattern="%d %p %C [%t] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</appenders>

	<loggers>
		<root level="info">
			<appender-ref ref="RollingFile" />
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>